<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thong tin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/assets/css/style.css">
</head>
<body>
    <div id="swapper">
        <div id="header">
            day la header
        </div>
        <hr>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=1">Quận 1</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=2">Quận 2</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=3">Quận 3</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=4">Quận 4</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=5">Quận 5</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=6">Quận 6</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=7">Quận 7</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=8">Quận 8</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=9">Quận 9</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=10">Quận 10</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=11">Quận 11</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=12">Quận 12</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=13">Quận Gò Vấp</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=14">Quận Tân Bình</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=15">Quận Tân Phú</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=16">Quận Bình Thạnh</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=17">Quận Phú Nhuận</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=18">Quận Thủ Đức</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=19">Quận Bình Tân</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=20">Huyện Củ Chi</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=21">Huyện Hóc Môn</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=22">Huyện Bính Chánh</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=23">Huyện Nhà Bè</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/1/5?id=24">Huyện Cần Giờ</a></div>
                </div>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/thongtincongty/ben-tre/1/5">Bến Tre</a></div>
                    <div class="col-md-3 panel panel-default"><a href="#">Long An</a></div>
                    <div class="col-md-3 panel panel-default"><a href="#">Đồng Nai</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="footer">
            day la footer
        </div>
    </div>
</body>
</html>