<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% results.forEach(result => { %>
        <div>
            <span>Tên công ty: <%= result.name %> </span><br>
            <span>Địa chỉ: <%= result.address %> </span><br>
            <span>Số điện thoại: <img src= '<%= result.linkPhone %>' alt=""></span> <br>
        </div> <br> <br>
    <% }); %>
</body>
</html>