<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thong tin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/assets/css/style.css">
</head>
<body>
    <div id="swapper">
        <div id="header">
            day la header
        </div>
        <hr>
        <div id="main">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-1/37003000310030003100/1/5">Quận 1</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-2/37003000310030003300/1/5">Quận 2</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-3/37003000310030003500/1/5">Quận 3</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-4/37003000310030003700/1/5">Quận 4</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-5/37003000310030003900/1/5">Quận 5</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-6/37003000310031003100/1/5">Quận 6</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-7/37003000310031003300/1/5">Quận 7</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-8/37003000310031003500/1/5">Quận 8</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-9/37003000310031003700/1/5">Quận 9</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-10/37003000310031003900/1/5">Quận 10</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-11/37003000310032003100/1/5">Quận 11</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-12/37003000310032003300/1/5">Quận 12</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-go-vap/37003000310032003500/1/5">Quận Gò Vấp</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-tan-binh/37003000310032003700/1/5">Quận Tân Bình</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-tan-phu/37003000310032003800/1/5">Quận Tân Phú</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-binh-thanh/37003000310032003900/1/5">Quận Bình Thạnh</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-phu-nhuan/37003000310033003100/1/5">Quận Phú Nhuận</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-thu-duc/37003000310033003300/1/5">Quận Thủ Đức</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/quan-binh-tan/37003000310033003400/1/5">Quận Bình Tân</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/huyen-cu-chi/37003000310033003500/1/5">Huyện Củ Chi</a></div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/huyen-hoc-mon/37003000310033003700/1/5">Huyện Hóc Môn</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/huyen-binh-chanh/37003000310033003900/1/5">Huyện Bính Chánh</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/huyen-nha-be/37003000310034003100/1/5">Huyện Nhà Bè</a></div>
                    <div class="col-md-3 panel panel-default"><a href="/api/vinabiz/huyen-can-gio/37003000310034003300/1/5?">Huyện Cần Giờ</a></div>
                </div>
            </div>
        </div>
        <hr>
        <div id="footer">
            day la footer
        </div>
    </div>
</body>
</html>