<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <span>Tên công ty: </span>
        <span>Địa chỉ: </span>
        <span>Số điện thoại:  <img src="" alt=""></span>
    </div> <br>
</body>
</html>